@mixin media($pgW, $w) {
  @media (min-width: $pgW) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      > section,
      > main {
        width: $w;
      }
      > header,
      footer {
        width: 100%;
      }
    }
  }
}

//variables

$space: 2rem;
$radius: 4px;
$transition: 0.2s ease-in;
//colors
$main: #3f2061;
$dark: rgb(17, 16, 16);
$textColor: rgb(230, 238, 240);
$orange: orangered;

%centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  > header {
    h1 {
      text-transform: uppercase;
      background-color: rgb(33, 42, 93);
      color: $textColor;
      text-align: center;
      padding: $space;
      letter-spacing: 2px;
      text-shadow: 1px 1px 5px $orange;
    }
    .hero {
      @extend %centered;
      padding: $space;
      background-color: $main;
      color: $textColor;

      @media (max-width: 992px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      .text {
        padding: $space;
        h2 {
          color: $orange;
          font-size: 1.8rem;
        }

        p {
          line-height: 2;
          font-size: 1.5rem;
          font-weight: 100;
        }
      }

      img {
        height: 40vh;

        @media (max-width: 992px) {
          margin: auto;
        }
      }
    }
  }
  main {
    padding: $space;

    .images {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        justify-content: space-between;
      }

      div {
        width: 35vw;
        height: 35vw;
        margin-top: 1%;
        padding: 2%;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
        @extend %centered;

        @media (min-width: 992px) {
          width: 20vw;
          height: 20vw;
        }
      }
    }

    @for $i from 1 through 6 {
      div:nth-child(#{$i}) {
        background-color: darken(rgb(230, 245, 245), 16 * $i);
        background-image: url("https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja4/img/d#{$i}.jpg?raw=true");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center center;
      }
    }
  }

  .blog {
    padding: $space;
    background-color: $main;
    width: 100%;

    @media (max-width: 992px) {
      text-align: center;
    }

    img {
      max-width: 100%;
      margin-right: $space;
    }

    h3 {
      margin: $space;
    }
    article {
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        flex-direction: column;
      }
      p {
        color: $textColor;
        padding: $space;
        line-height: 1.8;
        font-weight: 300;
      }
    }
  }

  footer {
    padding: $space;
    background-color: $dark;
    @extend %centered;
    a i {
      color: $dark;
      margin-right: 1rem;
      font-size: $space;
      background-color: rgb(232, 240, 243);
      border-radius: 50%;
      padding: 6px;
      transition: $transition;

      @media (max-width: 992px) {
        font-size: $space / 2;
      }

      &:hover {
        color: $textColor;
        background-color: $orange;
      }
    }
  }
}

//Media queries

@include media(768px, 80%);
@include media(992px, 70%);
