@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, body > header .container > nav, body > header .container > nav div:nth-child(2) ul, body > header .container .header-article .video, body main, body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > header .container > nav div:nth-child(2) button, body main section:nth-child(1) article button {
  background-color: #ffff;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #606b74;
  text-align: center;
  padding: 1em 2em;
  border: none;
}

body main section:nth-child(1) {
  position: relative;
  margin: 2rem 0;
  width: 45vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body h1,
body h2,
body h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
  margin: 5% 0;
}

body > header {
  height: 120vh;
  width: 100%;
  background-color: #222f33;
  background-image: url("../imgs/hero.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

body > header .container {
  max-width: 88vw;
  height: 100%;
  color: #ffff;
  margin-left: auto;
}

body > header .container > nav {
  height: 20vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body > header .container > nav div:nth-child(1) .logo {
  max-width: 100%;
  width: 12em;
}

body > header .container > nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10vw;
  width: 40vw;
}

body > header .container > nav div:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: 10%;
}

body > header .container > nav div:nth-child(2) ul li {
  font-family: "Rubik";
  font-weight: 500;
}

body > header .container .header-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
}

body > header .container .header-article article {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 0;
}

body > header .container .header-article article p {
  font-weight: 500;
  font-size: 1rem;
}

body > header .container .header-article article h2 {
  line-height: 2.8rem;
}

body > header .container .header-article .video {
  position: absolute;
  top: 30%;
  left: 75%;
  -webkit-transform: translate(-75%, -30%);
          transform: translate(-75%, -30%);
}

body > header .container .header-article .socials {
  position: absolute;
  right: 2%;
  top: 0;
  bottom: 0;
}

body > header .container .header-article .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
}

body > header .container .header-article .socials ul li {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 6em;
}

body main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section:nth-child(1) article p {
  line-height: 2rem;
  color: #606b74;
}

body main section:nth-child(1) article button {
  border: 1px solid #646d70;
  margin: 2% 0;
}

body main .carousel {
  position: absolute;
  bottom: -60%;
  right: 10%;
}

body main .carousel::after {
  content: "";
  position: absolute;
  top: 21%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 79%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

body main .blog {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .blog .img {
  max-width: 100%;
}

body main .blog .blog-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

body main .blog .blog-articles article p {
  font-weight: 400;
  color: #646d70;
}

body footer {
  background-color: #222f33;
  margin-top: auto;
  padding: 2rem;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffff;
}
