body {
  box-sizing: border-box;
  padding: 0;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../img/spikes.png");
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  margin-left: 2rem;
}

main {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 2rem;
  padding: 1rem;
}

p {
  line-height: 1.5rem;
}

main .left {
  flex: 4;
  padding: 1rem 2rem;
  margin-bottom: 6rem;
}
main .right {
  flex: 1;
  padding: 1rem 2rem;
  background-color: rgb(238, 239, 246);
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: black;
  padding: 1rem;
  color: white;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom list-style-type */
/* ul li::before {
  content: "\266F";
} */

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 2rem;
}

/* Ukryj podmenu */
ol {
  display: none;
}
ul li {
  flex: 1;
  cursor: pointer;
  position: relative;
}

/* Pokaż podmenu po najechaniu myszką na li */
ul li:hover ol {
  display: block;
}

ol {
  position: absolute;
  width: 100%;
}

ol li {
  background-color: whitesmoke;
  color: black;
  padding: 1rem;
}

ol li:hover {
  background-color: #333;
  color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 720px) {
  main {
    display: block;
  }
  ul {
    width: 90%;
  }
  ul li {
    font-size: 0.8rem;
  }
}
