body {
  box-sizing: border-box;
  padding: 0;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../img/spikes.png");
  margin: 6rem 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  margin-left: 2rem;
}

main {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 2rem;
  padding: 1rem;
}

p {
  line-height: 1.5rem;
}

main .left {
  flex: 4;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}
main .right {
  flex: 1;
  padding: 1rem 2rem;
  background-color: rgb(238, 239, 246);
  margin-bottom: 4rem;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: black;
  padding: 1rem;
  color: white;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom list-style-type */
/* ul li::before {
  content: "\266F";
} */

ul {
  margin-left: 2rem;
  display: flex;
  justify-content: space-evenly;
}

/* Ukryj podmenu */
ol {
  display: none;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 1.5rem;
}

/* Pokaż podmenu po najechaniu myszką na li */
ul li:hover ol {
  display: block;
}

ol {
  position: absolute;
  width: 100%;
}

ol li {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  border-bottom: 0.5px solid #ddd;
}

ol li:hover {
  background-color: #ddd;
  color: black;
}

label {
  display: none;
}

.comments {
  padding: 0 2rem;
}

.comment {
  margin-top: 3rem;
  background-color: white;
}

.icon-user {
  background-color: rgb(216, 231, 233);
  padding: 6px 4px;
  border-radius: 50%;
}

button {
  background-color: transparent;
  color: black;
  padding: 0.6rem 1.2rem;
  border-radius: 40px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s ease-in;
}

button:hover {
  background-color: black;
  color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 720px) {
  main {
    display: block;
  }
  ul {
    width: 100%;
    justify-content: space-around;
    margin-left: 1rem;
  }
  ul li {
    font-size: 0.8rem;
  }

  ol li {
    width: 60%;
  }
}
