
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-tint:before { content: '\e803'; } /* '' */
.icon-stumbleupon:before { content: '\e804'; } /* '' */
