* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #20323c;
}
html {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 90vw;
  margin: auto;
}
header .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: black;
  line-height: 1.2;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px #dd1515;
}

header .logo i {
  -webkit-text-stroke: 3px #dd1515;
}

header nav {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-weight: 600;
}

header nav ul li {
  margin-right: 2rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

header nav ul li:hover {
  color: rgb(89, 197, 233);
}

.post {
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

article {
  background-color: rgb(192, 224, 224);
  border-radius: 5px 5px 0 0;
  padding: 2rem;
}

article header {
  display: flex;
}

article header img {
  width: 100px;
  border-radius: 5px;
  margin-right: 2rem;
}

img {
  max-width: 100%;
}

.comments,
.comment {
  padding: 1rem;
  background-color: rgb(246, 246, 246);
}

.comments h3 {
  border-bottom: 0.5px solid grey;
}

.comment {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.comment header {
  display: flex;
  justify-content: space-between;
}

.comment header img {
  width: 80px;
  border-radius: 50%;
}

aside {
  position: fixed;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  right: 0;
  padding: 2rem;
  background-color: black;
  color: rgb(89, 197, 233);
  border-radius: 6px 0 0 6px;
}

aside i {
  cursor: pointer;
  transition: 0.2s ease;
}

aside i:hover {
  color: white;
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: rgb(13, 37, 37);
  font-size: 0.8rem;
  color: rgb(176, 213, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: skyblue;
  text-align: right;
}
